body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    float: right;
    font-size: 24px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    font-weight: 500;
    border-bottom: 2px solid transparent;
}

.top {
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #007765;
    display: inline-flex;
}

.right-top {
    font-size: 24px;
    text-align: right;
    color: #FFFFFF;
    display: flex;
    padding-right: 30px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.left-top .logo {
    position: relative;
    width: 184px;
    height: 45px;
    color: #FFFFFF;
}

.left-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}

.left-right-margin {
    margin: 0 55px;
}

.left-logo {
    display: inline-flex;
    align-items: center;
}

.left-logo p {
    margin: 0 0 0 55px;
}

section.jumbotron {
    height: 401px;
    width: 100%;
    background-image: url(/pipernet/img/jumbotron.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
}

.jumbotron h1 {
    color: white;
    font-size: 65px;
    margin: 0;
}

.container {
    padding-left: 55px;
    padding-right: 55px;
}

.hero {
    background-image: url(/pipernet/img/hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-name {
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #fff;
}

.the-problem {
    background-size: cover;
    background: #EEEEEE center;
}

.the-problem p {
    padding-bottom: 32px;
}

.problem-txt {
    font-size: 32px;
    text-align: left;
    color: #000;
    font-weight: 500;
}

.title-name {
    font-size: 45px;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #007765;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.ppc p {
    line-height: 1.2;
    font-size: 32px;
    text-align: left;
    color: #000;
    font-weight: 500;
}

.ppc-name {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 56px;
    text-align: center;
    color: #007765;
}

.bottom-logo {
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    color: #000;
}

.ppc-logo .bottom-logo {
    margin: 0;
}

body {
    margin: 0;
}

.the-team {
    width: 100%;
    background: #EEEEEE;
    height: 700px;
}

.people {
    display: flex;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.0);
    margin: 35px 20px;
}

.member {
    text-align: center;
}

.member h3 {
    margin: 0;
    padding: 14px 0 5px 0;
    font-size: 24px;
    font-weight: 700;
    color: #007765;
    line-height: 28px;
}

.member span {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 176px;
    background: #000000;
}

.footer-txt {
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    color: #FFFFFF;
}

.footer-txt p {
    text-align: center;
    font-size: 22px;
    line-height: 1.5;
    font-family: "Arial", sans-serif;
}